*
{
    margin: 0px;
    padding: 0px;
}
/* ======================================Body====================================== */
body
{
    font-family: 'Carter One', cursive;
}
/* ======================================container================================= */
#container
{
    display:  flex; 
    flex-direction: column;
}
/* =====================================Box1==================================== */
.box1
{
    background-color:#171a29;
    width: 100%;
    height: 284px;
    /* border: 2px solid red; */
}
/* ===================================Subway============================================ */
#subway_main_image
{
    margin: 78px 149px;
    height: 301px;
    width: 278px;
}
#Subway
{
    position: absolute;
    top: 40px;
    left: 503px;
    color: white;
}
#Subway_heading
{
    color: rgb(255,153,0);
    font-size: 85px;
    border-bottom: 10px solid white;
}
#details
{
    font-size: 15px;
    text-align: center;
}
tr
{
    padding: 5px 10px;
}
.descrip
{
    color: lightgrey;
    font-size: 12px;
}
/* ====================================Box2===================================== */
.box2
{
    width: 70%;
    height: 510px;
    /* border: 2px solid black; */
    margin: 104px 0px 27px 267px;
    box-shadow: 10px 10px 15px rgba(128, 128, 128, 0.322);
    border-radius: 15px;
    border-left: 3px solid  rgb(255, 153, 0);
    border-top: 3px solid  rgb(255, 153, 0);
    display: flex;
    flex-direction: column;
}
#menu
{
    padding-left: 5px;
    padding-bottom: 5px;
    color: rgb(255, 153, 0);
}
/* ================================Sub-box======================================== */
#sub-box1
{
    width: 100%;
    height: 130px;
    border-bottom: 2px solid lightgray;
    margin-bottom: 23px;
}
#sub-box2
{
    width: 100%;
    height: 130px;
    border-bottom: 2px solid lightgray;
    margin-bottom: 23px;
    padding-bottom: 8px;
}
#sub-box3
{
    width: 100%;
    height: 130px;
    /* border: 2px solid purple; */
    margin-bottom: 23px;
}
/* ==============================sub-box1====================================== */
#aloo
{
    width: 220px;
  height: 130px;
}
.dish
{
    color: rgb(46, 31, 31);
    position: relative;
    top: -131px;
    left: 229px;;
    /* border: 2px solid black; */
    padding: 8px 5px; 
    width: 626px;
}
.des
{
    color: rgba(192, 185, 185, 0.856);
}
/* ====================================sub-box2================================= */
#tandoori
{
    width: 223px;
  height: 130px;
}
/* ====================================sub-box2================================= */
#paneer
{
    width: 223px;
  height: 130px;
}
/* ====================================button================================== */
.btn
{
    position: relative;
    top: -223px;
    left: 940px;
    background-color: transparent;
    border-radius: 14px;
    width: 98px;
    height: 43px;
    border: 2px solid rgb(255, 153, 0);
    font-size: 15px;
    font-family: 'Carter One', cursive;
    color: rgb(255, 153, 0);
}
.btn:hover
{
    background-color: rgb(255, 153, 0);
    color: white;
    cursor: pointer;
}
/* ==================================bill========================================== */
#container1
{
    width: 391px;
    height: 463px;
    /* border: 2px solid red; */
    margin: 121px auto;
    box-shadow: 10px 10px 15px rgba(128, 128, 128, 0.322);
    display: none;
}
#hotel
{
    width: 100%;
    height: 108px;
    /* border: 2px solid yellow; */
}
#hotel_image
{
    width: 71px;
    height: 70px;
    margin: 14px;
}
#hotel_name
{
    /* border: 2px solid black; */
    position: relative;
    top: -97px;
    left: 97px;
    font-size: 23px;
}
#hotel_name h3
{
    color: rgb(255,153,0);
}
#hotel_name p
{
    color:  rgba(0, 0, 0, 0.801);
}
#price
{
    position: relative;
    position: relative;
    left: 309px;
    top: -25px;
    font-size: 20px;
}
#dish
{
    margin-left: 3px;
}
#bill_details
{
    border-bottom: 2px solid rgba(0, 0, 0, 0.568);
    margin-left:4px ;
    margin-bottom: 3px;
    /* border: 2px solid orangered; */
    margin-top: -13px;
}
#bill_details p
{
    color: rgba(0, 0, 0, 0.568);
}
.item_price
{
    position: relative;
    top: -17px;
    left: 309px;
}
#proceed
{
    width: 299px;
    height: 33px;
    border: 2px solid transparent;
    background: rgb(255,153,0);
    color: white;
    border-radius: 7px;
    margin-top: 36px;
    margin-left: 86px;
    font-size: 18px;
    font-family: 'Carter One', cursive;
}
#proceed:hover
{
    border: 2px solid rgb(255,153,0);
    color: rgb(255,153,0);
    background: transparent;
}
#cancel
{
    position: relative;
    top: -33px;
    height: 33px;
    width: 83px;
    border-radius: 7px;
    border: 2px solid rgb(255,153,0);
    color: rgb(255,153,0);
    background: transparent;
    font-family: 'Carter One', cursive;
    font-size: 15px;
}
#cancel:hover
{
    border: 2px solid transparent;
    color: rgb(255,153,0);
    cursor: pointer;
}